In [2]:
print("Hello world")

Hello world

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Booster@2193%",
    database="testing"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(0, None, None)
(1, 'Jcak', 'Biology')
(2, 'Kate', 'Sociology')